/* 
 * Hide the spellcast trait icon that otherwise covers character art.
 * What kind of savages would ever cover art with icons...
 * I put pictures of character sheets because I want to look at them.
 * The hard part was figuring out where to put this information on the character sheet after hiding it here.
 */
.portrait .kichwas-ui-refinement-hide-icon {
  display: none;
}

.application.sheet.daggerheart.actor.dh-style.character .character-header-sheet .character-details span.kichwas-ui-refinement {
  background: none;
  color: inherit;
  cursor: default;
}

/*
 * Undo my spellcasting trait change if using Sleek UI.
 * Sleek UI doesn't block the art with stuff, so no need to mess with it.
 * Sleek UI also has it's own way of showing the spellcasting trait, which this leaves alone.
 */
#sleek-ui-sheet .character-information .character-details span.kichwas-ui-refinement {
    display:none;
}

/* 
 * Fear Tracker Adjustments
 * Goal: Make it a fixed UI element at center top of the screen, and remove the window styling.
 * I find it very dangerous that the fear tracker has such a generic name,
 * so I've tried to be extra careful in examing for a fear related child node.
 * As far as I could tell nothing else in the system uses the id 'resources',
 * but it does get used as a class name on the party sheet.
 */
#resources.kichwas-ui-refinement-lock-tracker {
    min-height: unset !important;
    height: unset !important;
    width: unset !important;
    background: unset;
    top:10px !important;
    left:50% !important;
    transform: translateX(-50%) !important;
    background: none !important;
    border: none !important;
    box-shadow: unset;
}

#resources.kichwas-ui-refinement-lock-tracker .window-header, 
#resources.kichwas-ui-refinement-lock-tracker .window-resize-handle {
    display: none !important;
}

#resources.kichwas-ui-refinement-lock-tracker .window-content {
    backdrop-filter: unset;
}

#resources.kichwas-ui-refinement-lock-tracker .window-content #resource-fear i {
    font-size: var(--font-size-10);
    width: 1.4rem;
    line-height: unset;
}

/* 
 * Disable fear-tracker-plus's UI controls, padding, and mobility.
 */
.kichwas-ui-refinement-lock-ftp-tracker {
    min-height: unset !important;
    height: unset !important;
    width: unset !important;
    background: unset;
    top:10px !important;
    left:50% !important;
    transform: translateX(-50%) !important;
    background: none !important;
    border: none !important;
    box-shadow: unset;
}

.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window {
    pointer-events: none;
    background: unset;
    border: none;
    box-shadow: unset;
    backdrop-filter: unset;
    padding: 0rem;
    z-index: 1;
}

.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window:hover {
    background: unset;
    border: none;
    
}

.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window .tokens-container .fear-token,
.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window .fear-visuals .fear-bar-container,
.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window .fear-visuals .value-control
{
    z-index: 2;
    pointer-events: auto;
}

.kichwas-ui-refinement-lock-ftp-tracker .tracker-header,
.kichwas-ui-refinement-lock-ftp-tracker .fear-tracker-window:hover .resize-handle {
    display: none !important;
}

#dh-feartrackerplus-app.kichwas-ui-refinement-lock-ftp-tracker nav#context-menu {
    display: none !important;
    pointer-events: none;
}